/* Intro */
.intro-bg {
    padding-top: 290px;
    padding-bottom: 60px;
    background: url(../img/bg-intro.jpg) no-repeat center;
    background-size: cover;
}
.intro {
    display: flex;
    justify-content: space-between;
}
.intro-form {
    box-shadow: 0 6px 10px rgba(24, 34, 46, 0.14),
        0 1px 18px rgba(24, 34, 46, 0.12), 0 3px 5px rgba(24, 34, 46, 0.2);
    position: relative;
    height: 50px;
}
.intro-form input[type='email'] {
    font: 400 1em/1.5 'Nunito', sans-serif;
    background: var(--cor-6);
    border: none !important;
    outline: none !important;
    width: 470px;
    height: 100%;
    border-radius: 5px;
    padding: 15px;
    padding-right: 200px;
}
.intro-form input[type='email']::placeholder {
    color: var(--cor-2);
}
.intro-form .intro-botao {
    font: 700 1em/1.5 'Nunito', sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    position: absolute;
    background: var(--cor-s2);
    border-radius: 0 5px 5px 0;
    top: 0;
    right: -1px;
    bottom: -2px;
    width: 185px;
    outline: none;
    border: none;
    color: var(--cor-6);
    cursor: pointer;
}
.intro-form .intro-botao:hover {
    background-color: var(--cor-s1);
}
/* Fim da Intro */

@media screen and (max-width: 768px) {
    .intro-bg {
        padding-top: 150px;
        padding-bottom: 30px;
    }
    .intro {
        flex-direction: column;
        align-items: center;
    }
    .into h1 {
        padding-bottom: 500px;
    }
    .intro-form {
        box-shadow: none;
    }
    .intro-form input[type='email'] {
        width: 100%;
        padding: 10px;
        padding-right: 100px;
        box-shadow: 0 6px 10px rgba(24, 34, 46, 0.14),
            0 1px 18px rgba(24, 34, 46, 0.12), 0 3px 5px rgba(24, 34, 46, 0.2);
    }
    .intro-form .intro-botao {
        position: static;
        margin-top: 20px;
        width: 100%;
        padding: 5px 0px;
        border-radius: 5px;
        border: none;
        text-align: center;
    }
}
@media screen and (max-width: 450px) {
    .intro h1 {
        font-size: 3.5rem;
        margin-bottom: 10px;
    }
}
